<div class="container">
    
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                <li *ngFor="let pokemon of pokemones"   
                    (click)="seleccionarPokemon(pokemon)"                 
                    class="list-group-item">
                    {{pokemon.id}} {{pokemon.nombre}}
                    <span (click)="eliminar(pokemon.id)" class="fas fa-trash-alt"></span>
                </li>
            </ul>
            <button class="btn btn-primary" (click)="nuevo()">Nuevo</button>
        </div>

        <div class="col">            
            <form [formGroup]="formularioPokemon" (ngSubmit)="enviar(formularioPokemon.value)" >          
                <div class="form-group">  
                    <input type="hidden" formControlName="id" >                  
                    <input class="form-control"  type="text" formControlName="nombre" placeholder="nombre pokemon">                    
                </div>                
                <input type="submit" class="btn btn-primary" [disabled]="formularioPokemon.invalid" value="{{(pokemonSeleccionado.id==0)?'Crear':'Modificar'}}">
            </form>  
        </div>       
    </div>
</div>
