<p>inicio works!</p>
<div class="container">
    
    <div class="row">
        <input type="text" [(ngModel)]="nombrePokemon" placeholder="busqueda por nombre">
        <input type="checkbox" *ngFor="let habilidad of habilidades" value="{{habilidad.nombre}}">        
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                <li *ngFor="let pokemon of pokemones | filtroPokemon:nombrePokemon"
                (click)="pokemonSeleccionado=pokemon"
                class="list-group-item">
                    {{pokemon.id}} {{pokemon.nombre}}
                </li>
            </ul>
        </div>
        <div class="col">        
            <p>{{pokemonSeleccionado.nombre}}</p> 
            <ul>
                <li *ngFor="let habilidad of pokemonSeleccionado.habilidades"
                    class="list-group-item">
                    {{habilidad.nombre}}
                </li>
            </ul>
        </div>
    </div>
</div>

