
<div class="container">
    
    <div class="row">
        <div class="col-6">
        <input type="text" [(ngModel)]="nombrePokemon" placeholder="busqueda por nombre">
        </div>
        <br>
        <div class="col-6" >            
            <ul>
                <li *ngFor="let habilidad of habilidadesFiltro">
                    <input type="checkbox"
                           name="habilidadesFiltro"
                           value="{{habilidad.value}}"                           
                           [ngModelOptions]={standAlone:true}
                           [(ngModel)]="habilidad.checked"/>
                           {{habilidad.name}}                            
                </li>
            </ul>
            <button (click)="actualizarHabilidades(habilidadesFiltro)">Filtrar</button>
            <br>     
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                <li *ngFor="let pokemon of pokemones | filtroPokemon:nombrePokemon :habilidadesActualizadas"
                    (click)="pokemonSeleccionado=pokemon"
                    class="list-group-item {{(pokemonSeleccionado===pokemon)?'active':''}}">
                    {{pokemon.id}} {{pokemon.nombre}}
                </li>
            </ul>
        </div>
        <div class="col">        
            <p>{{pokemonSeleccionado.nombre}}</p> 
            <ul>
                <li *ngFor="let habilidad of pokemonSeleccionado.habilidades"
                    class="list-group-item">
                    {{habilidad.nombre}}
                </li>
            </ul>
        </div>
    </div>
</div>

