<h1>Iniciar sesion</h1>

<div class="row">
    <div class="col">
        <pre>{{formulario.value|json}}</pre>
        <pre>{{formulario.status|json}}</pre>

        <form [formGroup]="formulario" (ngSubmit)="enviar(formulario.value)" >
            <div class="form-group">
                <input class="form-control" formControlName="nombre" type="text" placeholder="usuario">
                <small *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.dirty" class="text-danger">Minimo 2 caracteres, maximo 100</small>
                <small *ngIf="formulario.controls.nombre.valid" class="text-success">Nombre valido</small>
            </div>
            <br>
            <div class="form-group">
                <input class="form-control" formControlName="password" type="password" placeholder="contraseña">
                <small *ngIf="formulario.controls.password.invalid && formulario.controls.password.dirty" class="text-danger">Escribe bien ostia</small>
                <small *ngIf="formulario.controls.password.valid" class="text-success">formato valido</small>
            </div>
            <br>
            <input type="submit" class="btn btn-primary form-control" [disabled]="formulario.invalid" value="Enviar">
        </form>
    </div>
    <!-- cierre col 1-->
  

</div>

<!-- cierre row-->
